body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  color: #405660;
}

.container {
  max-width: 32rem;
  margin-right: auto;
  margin-left: auto;
}

abbr {
  border-bottom: 1px dotted #405660;
  cursor: help;
}

