---
const {frontmatter} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content="Personal site of Jason Long, Product Designerd">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{frontmatter.title}</title>
    <script defer data-domain="jasonlong.me" src="https://plausible.io/js/script.js"></script>
	</head>
	<body class="px-12 sm:px-6">
    <div class="max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-3xl mx-auto my-10 md:my-20 relative">
      <slot />
    </div>
	</body>
</html>
<style is:global>
	html {
		font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    @apply bg-zinc-100;
    @apply dark:bg-zinc-900;
    @apply antialiased;
    @apply text-zinc-700;
    @apply dark:text-zinc-400;
	}
  a {
    @apply text-sky-600;;
    @apply dark:text-sky-400;
    @apply font-medium;
    @apply underline;
    @apply underline-offset-4;
    @apply decoration-1;
    @apply decoration-zinc-300;
    @apply dark:decoration-zinc-600;
  }
  h1, h2, h3, h4, p, ul, ol, blockquote, pre, code, table, caption {
    @apply mb-6;
  }
  h1 {
    @apply font-bold;
    @apply text-zinc-900;
    @apply dark:text-zinc-50;
  }
  h2 {
    @apply font-bold;
    @apply text-zinc-900;
    @apply dark:text-zinc-50;
  }
  h3 {
    @apply font-bold;
    @apply text-zinc-900;
    @apply dark:text-zinc-50;
  }
  h4 {
    @apply font-bold;
    @apply text-zinc-900;
    @apply dark:text-zinc-50;
  }
  h1:before, h2:before, h3:before, h4:before {
    @apply absolute;
    @apply -left-9;
    @apply w-6;
    @apply text-zinc-300;
    @apply dark:text-zinc-600;
    @apply text-right;
  }
  h1:before {
    content: "#";
  }
  h2:before {
    content: "##";
  }
  h3:before {
    content: "###";
  }
  h4:before {
    content: "####";
  }
  ul {
    @apply ml-4;
    @apply list-['*\2002'];
  }
  b, strong {
    @apply font-semibold;
  }
  b:before, strong:before {
    @apply text-zinc-300;
    @apply dark:text-zinc-600;
    content: "**";
  }
  b:after, strong:after {
    @apply text-zinc-300;
    @apply dark:text-zinc-600;
    content: "**";
  }
  i:before, em:before {
    @apply text-zinc-300;
    @apply dark:text-zinc-600;
    content: "_";
  }
  i:after, em:after {
    @apply opacity-40;
    @apply mix-blend-hard-light;
    content: "_";
  }
  hr {
    @apply my-6;
    @apply invisible;
    @apply h-6;
  }
  hr:before {
    @apply visible;
    @apply opacity-40;
    @apply mix-blend-hard-light;
    content: "----";
  }
</style>
