---
import indexCss from '../styles/index.css?url'
const { frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='description' content='Jason Long · Product Designerd' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <title>{frontmatter.title}</title>
    <link rel='stylesheet' href={indexCss} />
    <script
      defer
      data-domain='jasonlong.me'
      src='https://plausible.io/js/script.js'
    ></script>
  </head>
  <body class='flex pl-10 pr-6 sm:px-6'>
    <div
      class='max-w-xs_ relative mx-auto my-10 sm:max-w-lg md:my-20 md:max-w-2xl lg:max-w-3xl'
    >
      <slot />
    </div>
  </body>
</html>
