---
const {frontmatter} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content="Personal site of Jason Long, Product Designerd">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{frontmatter.title}</title>
    <script defer data-domain="jasonlong.me" src="https://plausible.io/js/script.js"></script>
	</head>
	<body>
    <div class="max-w-xs sm:max-w-sm md:max-w-lg lg:max-w-3xl mx-auto my-20 relative">
      <slot />
    </div>
	</body>
</html>
<style is:global>
	html {
		font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    @apply bg-yellow;
    @apply dark:bg-gray-900;
    @apply antialiased;
    @apply text-gray-900;
    @apply dark:text-yellow;
	}
  a {
    @apply font-semibold;
    @apply underline;
    @apply underline-offset-4;
    @apply decoration-1;
    @apply decoration-yellow-accent;
    @apply dark:decoration-yellow;
    @apply dark:decoration-yellow-accent-dark;
    @apply text-black;
    @apply dark:text-yellow;
  }
  h1, h2, h3, h4, p, ul, ol, blockquote, pre, code, table, caption {
    @apply mb-6;
  }
  h1 {
    @apply font-bold;
  }
  h2 {
    @apply font-bold;
  }
  h1:before, h2:before, h3:before, h4:before {
    @apply absolute;
    @apply -left-9;
    @apply w-6;
    @apply opacity-40;
    @apply mix-blend-hard-light;
    @apply text-right;
  }
  h1:before {
    content: "#";
  }
  h2:before {
    content: "##";
  }
  h3:before {
    content: "###";
  }
  h4:before {
    content: "####";
  }
  li:before {
    @apply mix-blend-hard-light;
    content: "* ";
  }
  b:before, strong:before {
    @apply opacity-40;
    @apply mix-blend-hard-light;
    content: "**";
  }
  b:after, strong:after {
    @apply opacity-40;
    @apply mix-blend-hard-light;
    content: "**";
  }
  i:before, em:before {
    @apply opacity-40;
    @apply mix-blend-hard-light;
    content: "_";
  }
  i:after, em:after {
    @apply opacity-40;
    @apply mix-blend-hard-light;
    content: "_";
  }
  hr {
    @apply my-6;
    @apply invisible;
    @apply h-6;
  }
  hr:before {
    @apply visible;
    @apply opacity-40;
    @apply mix-blend-hard-light;
    content: "----";
  }
</style>
