---
title: Jason Long
---

<div class="container">
  <h1 class="h2 bold">Jason Long</h1>

  <p class="p">I am a <abbr title="designer &amp; developer">designerd</abbr> for <a href="http://github.com">GitHub</a>. I used to be a freelancer operating under the name <a href="http://blackantmedia.com">Black Ant Media</a>. I'll be adding more here soon, but in the meantime you can find me around the interwebs with these links.</p>

  <ul>
    <li><a href="http://twitter.com/jasonlong">Twitter</a></li>
    <li><a href="https://github.com/jasonlong">GitHub</a></li>
    <li><a href="http://dribbble.com/jasonlong">Dribbble</a></li>
    <li><a href="mailto:jason@jasonlong.me">Email</a></li>
  </ul>
</div>
