---
title: Jason Long
---

<div class="container">
  <h1 class="h2 bold">Jason Long</h1>

  <p class="p">I am a <abbr title="designer &amp; developer">designerd</abbr> for <a href="http://github.com">GitHub</a>.</p>
</div>
